:host {
  width: 100%;
}

.space {
  justify-content: space-between;
}

.high {
  color: var(--error);
}

.medium {
  color: var(--warning);
}

.low {
  color: var(--accent);
}

img {
  height: 48px;
  width: 48px;

  border-radius: 50%;
  object-fit: contain;
}

.hr {
  width: 100%;
}
