:host {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 36px;
}

.names-container {
  width: 50%;
}

.space {
  justify-content: space-between;
}
