<!-- Container for all the Incidents -->
<div class="w-50 col-container g-16" @staggeredAnimation>
  <h2>Incidents Reported . . .</h2>

  <div class="col-container g-16" *ngFor="let incident of incidentList">
    <app-incident-card [incident]="incident">
      <!-- Button Container -->
      <div>
        <button
          class="btn btn-accent"
          (click)="onAssignClick(incident.id)"
          [disabled]="incident.assignedTo"
        >
          Assign To Someone
        </button>
      </div>
    </app-incident-card>

    <!-- Horizontal Line -->
    <hr class="center" />
  </div>
</div>
