<!-- This is the loading state -->
<app-loader *ngIf="isLoading" [isLoading]="isLoading" />

<!-- This is the error state -->
<app-error-card
  *ngIf="errorMessage"
  [errorMessage]="errorMessage"
  (onCancelClick)="onErrorCancelClick()"
/>

<!-- Container for all the Incidents -->
<div
  class="incident-container col-container"
  *ngIf="!isLoading && !errorMessage"
>
  <h2>Incidents Reported . . .</h2>

  <div class="col-container" *ngFor="let incident of incidentList">
    <app-incident-card [incident]="incident">
      <!-- Button Container -->
      <div class="row-container">
        <button
          (click)="onAssignClick(incident.id)"
          [disabled]="incident.assignedTo"
        >
          Assign To Someone
        </button>
      </div>
    </app-incident-card>

    <!-- Horizontal Line -->
    <hr class="center" />
  </div>
</div>
