:host {
  height: 100%;
  width: 100%;

  display: flex;
  flex-direction: column;
  align-items: center;

  padding: 36px;
}

.incident-container {
  width: 50%;
}

.center {
  align-self: center;
}
