<!-- This is the loading state -->
<app-loader *ngIf="isLoading" [isLoading]="isLoading" />

<!-- This is the error state -->
<app-error-card
  *ngIf="errorMessage"
  [errorMessage]="errorMessage"
  (onCancelClick)="onErrorCancelClick()"
/>

<div
  class="incident-container col-container"
  *ngIf="!isLoading && !errorMessage"
  @staggeredAnimation
>
  <h2>Incidents Reported by You . . .</h2>

  <div class="col-container" *ngFor="let incident of incidentList">
    <app-incident-card [incident]="incident">
      <!-- Button Container -->
      <div class="row-container">
        <button
          [disabled]="incident.status === 'CLOSED'"
          (click)="onUpdateClick(incident.id)"
        >
          Update Incident
        </button>
      </div>
    </app-incident-card>

    <!-- Horizontal Line -->
    <hr class="center" />
  </div>
</div>
